vti_encoding:SR|utf8-nl
vti_author:SR|ZHANGJING\\Administrator
vti_modifiedby:SR|ZHANGJING\\Administrator
vti_timelastmodified:TR|12 Sep 2007 02:17:12 -0000
vti_timecreated:TR|12 Sep 2007 01:06:38 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|12 Sep 2007 02:15:32 -0000
vti_cacheddtm:TX|12 Sep 2007 02:17:12 -0000
vti_filesize:IR|6159
vti_cachedlinkinfo:VX|S|../../../../assets/skins/sam/sprite.png S|../../../../assets/skins/sam/sprite.png S|../../../../assets/skins/sam/sprite.png
vti_cachedsvcrellinks:VX|FSUS|content/libraries/yui/assets/skins/sam/sprite.png FSUS|content/libraries/yui/assets/skins/sam/sprite.png FSUS|content/libraries/yui/assets/skins/sam/sprite.png
