html {
	overflow: auto;
}
body {
	color: #000;
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
a {
	color: #393939;
	text-decoration: underline;
}
a:hover {
	color: #78a;
	text-decoration: underline;
}
#container {
	background-image: url('../images/sidebarBg.gif');
	background-repeat: repeat-y;
	width: 80%;
	margin: 0 auto;
}
#masthead {
	width: 100%;
	height: 66px;
	overflow: auto; /*automatically adjust its height based on its float descendants */;
	background-color: #c5d5e5;
	background-image:url('../images/logo.gif');
	background-repeat:no-repeat;
	position: relative;
}
#masthead h1{
	margin:0;
	height:66px;
	line-height:66px;
	float:left;
	text-indent:180px;
}
#navigation {
	font-family: 宋体;
	background-color: #ca7;
	overflow: auto;
}
#page_content {
	overflow: auto; /*automatically adjust its height based on its float descendants */
}
#sidebar {
	float: left;
	width: 150px;
}
#content {
	margin-left: 150px;
	padding: 10px;
	display: inline-block; /* little trick to get around IE6 floating problem*/
}
#footer {
	clear: both;
	width: 99%;
	overflow: hidden;
	padding-top: 1%;
	padding-right: 0;
	padding-bottom: 1%;
	padding-left: 1%;
	background-color: #cdf;
}
#masthead img {
	float: left;
}
#masthead p {
	font-size: small;
	margin: 0;
	margin-right: 1%;
}
#masthead .logout {
	position: absolute;
	right: 1em;
	bottom: 0.5em;
}
/* Styles for Siderbar Navigation */
#sidebar li {
	margin: 1px 0;
}
#sidebar a {
	text-decoration: none;
}
#sidebar a:hover {
	background-color: #dc9;
}
#sidebar a.head {
	color: #393939;
	background-color: #ca7;
	height: 24px;
	line-height: 24px;
	text-indent: 1.5em;
}
#sidebar li li a {
	color: #393939;
	background-color: #CCFFCC;
	height: 20px;
	line-height: 20px;
	text-indent: 1em;
}
/* Styles for Footer */
#footer p {
	font-size: x-small;
	text-align: center;
}
#footer a {
	color: #393939;
	text-decoration: underline;
}
#footer a:hover {
	color: #393939;
	text-decoration: none;
}
/* Styles for form */
table.form {
	border: 1px solid #C0C0C0;
	border-collapse: collapse;
}
table.form th, table.form td {
	border: 1px solid #C0C0C0;
	border-style: solid none;
}
table.form th {
	font-weight: normal;
	background-color: #EBEBEB;
	padding: 0 12px;
	width:35%;
}
table.form td {
	height: 26px;
	overflow: auto;
}
table.form tfoot td {
	text-align: center;
}
/* Styles for list */
table.list {
	border: 1px solid #C0C0C0;
	border-collapse: collapse;
	width: 100%;
}
table.list th, table.list td {
	border: 1px solid #C0C0C0;
	border-style: solid none;
	text-indent: 12px;
}
table.list th {
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	text-align: left;
	background-color: #EBEBEB;
}
table.list tfoot td {
	text-align: right;
	height: 20px;
	line-height: 20px;
}
/* Other Styles */
.btnBar {
	height: 24px;
	line-height: 24px;
	text-align: right;
}
/* Styles for submenu and subcontent */
#submenu {
	width: 180px;
	float: left;
}
#submenu ul {
	margin: 0;
	padding: 0;
	list-style-position: inside;
	list-style-type: circle;
}
#submenu a {
	text-decoration: none;
}
#subcontent {
	margin-left: 200px;
	display: inline-block;
}
.split{
	overflow:auto;
}
.split .left{
	float:left;
	width:150px;
}
.split .right{
	margin-left:160px;
	display:inline-block;
}
