vti_encoding:SR|utf8-nl
vti_textextensions:SX|.txt.ad.asm.c.cc.cd.cod.cpp.cs.csdproj.csproj.cur.cxx.dbproj.dd.def.dsp.dsprototype.dsw.h.hpp.hxx.i.idl.inc.inl.jsl.jsx.jsxbin.ldd.lsaprototype.lst.mak.map.mdp.mk.mmbas.odh.odl.rc.rc2.rct.rgs.s.sd.sdm.sdmdocument.sln.sol.sor.sql.srf.tlh.tli.txt.user.vb.vbdproj.vbproj.vddproj.vdp.vdproj.vjp.vjsproj.vspscc.vsscc.vssscc.XOML.
vti_webservertype:SR|msiis
vti_restartmanual:IX|0
vti_defaultlanguage:SR|zh-cn
vti_timecreated:TR|10 Sep 2007 00:20:00 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_casesensitiveurls:IX|0
vti_ignorekeyboard:IR|0
vti_navbuttonnextlabel:SR|Next
vti_extenderversion:SR|4.0.2.8912
vti_navbuttonprevlabel:SR|Back
vti_longfilenames:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_htmlextensions:SX|.htm.html.shtml.stm.html.htm.shtm.htt.htx.asp.alx.asa.
vti_dependenciesood:IR|1
vti_approvallevels:VR|内容检查 合法检查 代码检查 经理评估
vti_welcomenames:VX|Default.aspx Default.htm Default.asp index.htm iisstart.asp
vti_secureserverurl:SR|https://zhangjing
vti_showhiddenpages:IR|1
vti_navbuttonhomelabel:SR|Home
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_ServerWebParts vti_RulesScript vti_TimedDocEvents
vti_categories:VR|旅行 费用报表 商务 竞争 目的/目标 主意 杂项 等待 VIP 处理中 计划 日程表
vti_insecureserverurl:SR|http://zhangjing
vti_httpdversion:SX|Microsoft-IIS/5.1
vti_navbuttonuplabel:SR|Up
vti_defaultcharset:SR|utf-8
