vti_encoding:SR|utf8-nl
vti_author:SR|ZHANGJING\\Administrator
vti_modifiedby:SR|ZHANGJING\\Administrator
vti_timelastmodified:TR|14 Sep 2007 00:41:15 -0000
vti_timecreated:TR|12 Sep 2007 01:17:48 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|
vti_cacheddtm:TX|14 Sep 2007 00:41:15 -0000
vti_filesize:IR|3241
vti_cachedlinkinfo:VX|S|sprite.png S|menu-button-arrow.png S|split-button-arrow.png S|split-button-arrow-focus.png S|split-button-arrow-hover.png S|split-button-arrow-active.png S|menu-button-arrow-disabled.png S|split-button-arrow-disabled.png
vti_cachedsvcrellinks:VX|FSUS|content/libraries/yui/assets/skins/sam/sprite.png FSUS|content/libraries/yui/assets/skins/sam/menu-button-arrow.png FSUS|content/libraries/yui/assets/skins/sam/split-button-arrow.png FSUS|content/libraries/yui/assets/skins/sam/split-button-arrow-focus.png FSUS|content/libraries/yui/assets/skins/sam/split-button-arrow-hover.png FSUS|content/libraries/yui/assets/skins/sam/split-button-arrow-active.png FSUS|content/libraries/yui/assets/skins/sam/menu-button-arrow-disabled.png FSUS|content/libraries/yui/assets/skins/sam/split-button-arrow-disabled.png
