<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<!-- #BeginTemplate "../../../master.dwt" -->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- #BeginEditable "doctitle" -->
<title>个人素质</title>
<!-- #EndEditable -->
<link href="../../../content/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="../../../content/libraries/jquery/accordion/css.css" />
<link href="../../../content/libraries/silverStripe/tree/tree.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="../../../content/libraries/yui/tabview/assets/skins/sam/tabview.css" />
<script type="text/javascript" src="../../../content/libraries/jquery/jquery.js"></script>
<script type="text/javascript" src="../../../content/libraries/jquery/jquery.prototype.noconflict.js"></script>
<script type="text/javascript" src="../../../content/libraries/jquery/accordion/jquery.accordion.js"></script>
<script type="text/javascript" src="../../../content/scripts/table.js"></script>
<script type="text/javascript" src="../../../content/scripts/menu.js"></script>
<script type="text/javascript" src="../../../content/libraries/silverStripe/tree/tree.js"></script>
<script type="text/javascript" src="../../../content/libraries/yui/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="../../../content/libraries/yui/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="../../../content/libraries/yui/element/element-beta-min.js"></script>
<script type="text/javascript" src="../../../content/libraries/yui/tabview/tabview-min.js"></script>
</head>

<body>

<!-- Begin Container -->
<div id="container">
	<!-- Begin Masthead -->
	<div id="masthead">
		<h1>芜湖市公安局绩效考核管理系统</h1>
		<div class="logout">
			<a href="#" onclick="return false">退出</a></div>
	</div>
	<!-- End Masthead -->
	<!-- Begin Page Content -->
	<div id="page_content" class="split">
		<!-- Begin Sidebar -->
		<div id="sidebar" class="left">
			<ul class="menu">
				<li><a href="#" onclick="return false;" class="head selected">系统维护</a><ul>
					<li><a href="../../setup/organization/index.html">组织机构管理</a></li>
					<li><a href="../../setup/user/index.html">用户管理</a></li>
					<li><a href="../../setup/permission/index.html">权限管理</a></li>
					<li><a href="../../setup/examinationStandard/index.html">考核标准管理</a></li>
					<li><a href="../../setup/table/index.html">表单定义</a></li>
					<li><a href="../../setup/routineTask/index.html">系统常规任务定义</a></li>
					<li><a href="../../setup/measurementTable/index.html">系统量表定义</a></li>
					<li><a href="../../setup/taskEvalStandard/index.html">任务评估标准</a></li>
					<li><a href="../../setup/keyEventEvalStandard/index.html">关键事件评估标准</a></li>
					<li>
					<a href="../../setup/dictionary/routineTaskCategoryList.html">
					基础资料管理</a></li>
					<li><a href="../../setup/yearlyExamination/index.html">年度考期管理</a></li>
					<li><a href="../../setup/interface/index.html">接口定义</a></li>
				</ul>
				</li>
				<li><a href="#" onclick="return false;" class="head">部门考核定义</a><ul>
					<li>
					<a href="../routineTask/index.html">
					常规任务</a></li>
					<li>
					<a href="../dynamicTask/index.html">
					动态任务树</a></li>
					<li>
					<a href="../keyEvent/index.html">关键事件项</a></li>
					<li>
					<a href="index.html">
					个人素质</a></li>
					<li>
					<a href="../serviceTarget/index.html">
					服务对象</a></li>
					<li>
					<a href="../mutualReview/index.html">
					互评</a></li>
				</ul>
				</li>
				<li><a href="#" onclick="return false;" class="head">任务分派</a><ul>
					<li><a href="../../taskAllocation/routineTask/index.html">常规任务分派</a></li>
					<li><a href="../../taskAllocation/dynamicTask/index.html">动态任务分派</a></li>
				</ul>
				</li>
				<li><a href="#" onclick="return false;" class="head">考核管理</a><ul>
					<li><a href="../../examination/monthlyExam/index.html">月考核</a></li>
					<li><a href="../../examination/weeklyEval/index.html">周评估</a></li>
					<li><a href="../../examination/staffManagement/index.html">人员管理</a></li>
					<li><a href="../../examination/windowManagement/index.html">
					期间管理</a></li>
					<li><a href="../../examination/examQuery/index.html">考核查询</a></li>
					<li>
					<a href="../../examination/mutualReviewQuery/index.html">互评查询</a></li>
					<li><a href="../../examination/weeklySumUpQuery/index.html">
					周小结查询</a></li>
					<li><a href="#" style="color: red">日清检查</a></li>
					<li><a href="../../examination/yearlyExam/index.html">年度考核</a></li>
				</ul>
				</li>
				<li><a href="#" onclick="return false;" class="head">警员日常工作</a><ul>
					<li><a href="../../policeDuty/routineTask/index.html">常规任务</a></li>
					<li><a href="../../policeDuty/dynamicTask/index.html">动态任务</a></li>
					<li><a href="../../policeDuty/keyEvent/index.html">关键事件</a></li>
					<li><a href="../../policeDuty/individualQuality/index.html">
					个人素质</a></li>
					<li><a href="../../policeDuty/overtimeWork/index.html">警员加班</a></li>
					<li><a href="../../policeDuty/absence/index.html">警员离岗</a></li>
					<li><a href="../../policeDuty/mutualReview/index.html">互评</a></li>
					<li><a href="../../policeDuty/weeklySumUp/index.html">周小结</a></li>
					<li><a href="../../policeDuty/examQuery/index.html">个考查询</a></li>
					<li><a href="../../policeDuty/instructionQuery/index.html">指导查询</a></li>
					<li><a href="#" style="color: red">日清查询</a></li>
					<li><a href="../../policeDuty/appeal/index.html">警员申诉</a></li>
				</ul>
				</li>
				<li><a href="#" onclick="return false;" class="head">情报处理</a><ul>
					<li><a href="../../infoProcess/definition/index.html">情报定义</a></li>
					<li><a href="../../infoProcess/judgement/index.html">情报评判</a></li>
					<li><a href="../../infoProcess/publication/index.html">情报发布</a></li>
					<li><a href="../../infoProcess/feedback/index.html">情报反馈</a></li>
					<li><a href="../../infoProcess/query/index.html">情报查询</a></li>
				</ul>
				</li>
				<li><a href="#" onclick="return false;" class="head">统计分析</a><ul>
					<li><a href="../../statistics/individualExam/index.html">警员考核查询分析</a></li>
					<li><a href="../../statistics/departmentExam/index.html">部门考核统计分析</a></li>
					<li><a href="../../statistics/workload/index.html">工作量查询分析</a></li>
					<li><a href="../../statistics/globalKpi/index.html">全局KPI指标统计分析</a></li>
					<li><a href="../../statistics/departmentKpi/index.html">部门KPI指标统计分析</a></li>
					<li>
					<a href="../../statistics/individualDevelopmentIndex/index.html">
					警员发展指数分析</a></li>
					<li>
					<a href="../../statistics/departDevelopmentIndex/index.html">
					部门发展指数分析</a></li>
					<li>
					<a href="../../statistics/information/index.html" style="color: red">
					情报统计分析</a></li>
				</ul>
				</li>
			</ul>
		</div>
		<!-- End Sidebar -->
		<!-- Begin Content -->
		<div id="content" class="right">
			<!-- #BeginEditable "content" -->
			<table class="list">
				<thead>
					<tr>
						<th>选择</th>
						<th>量表名称</th>
						<th>描述</th>
						<th>KPI指标</th>
						<th></th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td colspan="5"><a href="#" onclick="return false;">上一页 
						</a><a href="#" onclick="return false;">下一页</a></td>
					</tr>
				</tfoot>
				<tr>
					<td><input type="checkbox" /></td>
					<td>####</td>
					<td>####</td>
					<td>####</td>
					<td><input type="submit" value="修改" /><input type="submit" value="删除" /><input type="submit" value="查看" /></td>
				</tr>
				<tr>
					<td><input type="checkbox" /></td>
					<td>####</td>
					<td>####</td>
					<td>####</td>
					<td><input type="submit" value="修改" /><input type="submit" value="删除" /><input type="submit" value="查看" /></td>
				</tr>
				<tr>
					<td><input type="checkbox" /></td>
					<td>####</td>
					<td>####</td>
					<td>####</td>
					<td><input type="submit" value="修改" /><input type="submit" value="删除" /><input type="submit" value="查看" /></td>
				</tr>
				<tr>
					<td><input type="checkbox" /></td>
					<td>####</td>
					<td>####</td>
					<td>####</td>
					<td><input type="submit" value="修改" /><input type="submit" value="删除" /><input type="submit" value="查看" /></td>
				</tr>
				<tr>
					<td><input type="checkbox" /></td>
					<td>####</td>
					<td>####</td>
					<td>####</td>
					<td><input type="submit" value="修改" /><input type="submit" value="删除" /><input type="submit" value="查看" /></td>
				</tr>
				<tr>
					<td><input type="checkbox" /></td>
					<td>####</td>
					<td>####</td>
					<td>####</td>
					<td><input type="submit" value="修改" /><input type="submit" value="删除" /><input type="submit" value="查看" /></td>
				</tr>
				<tr>
					<td><input type="checkbox" /></td>
					<td>####</td>
					<td>####</td>
					<td>####</td>
					<td><input type="submit" value="修改" /><input type="submit" value="删除" /><input type="submit" value="查看" /></td>
				</tr>
			</table>
			<div class="bottomBar">
				<a href="edit.html">新增</a></div>
			<!-- #EndEditable -->
			<!-- End Content --></div>
	</div>
	<!-- End Page Content -->
	<!-- Begin Footer -->
	<div id="footer">
		<p>Copyright © 2007 安徽瑞信软件公司版权所有。</p>
	</div>
	<!-- End Footer --></div>
<!-- End Container -->

</body>

<!-- #EndTemplate -->

</html>
