@import url('../libraries/jquery/accordion/css.css');
@import url('../libraries/silverStripe/tree/tree.css');
@import url('../libraries/yui/tabview/assets/skins/sam/tabview.css');
html {
	overflow: auto;
}
body {
	color: #000;
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
table caption {
	display: none;
}
td, th {
	padding: 0;
}
legend {
	color: #0046d5;
}
a {
	color: #393939;
	text-decoration: underline;
}
a:hover {
	color: #78a;
	text-decoration: underline;
}
#container {
	width: 994px;
	margin: 0 auto;
	background-image: url('../images/blue/sep.gif');
	background-repeat: repeat-y;
	background-position: 199px 50%;
}
#masthead {
	height: 122px;
	overflow: auto; /*automatically adjust its height based on its float descendants */;
	background-color: #c5d5e5;
	background-image: url('../images/blue/headbg.gif');
	background-repeat: repeat-x;
	position: relative;
}
#masthead h1 {
	margin: 0;
	float: left;
	text-indent: -2000px;
}
#majorpart {
	overflow: auto; /*automatically adjust its height based on its float descendants */
}
#footer {
	height: 30px;
	clear: both;
	overflow: hidden;
	background-image: url('../images/blue/footbg.gif');
	background-repeat: no-repeat;
}
#masthead img {
	float: left;
}
#masthead p {
	font-size: small;
	margin: 0;
	margin-right: 1%;
}
#masthead #logout {
	position: absolute;
	right: 1em;
	bottom: 0.5em;
}
#greeting {
	height: 93px;
	background-image: url('../images/blue/badge.jpg');
	background-repeat: no-repeat;
	position: relative;
	color: #676767;
}
#logout {
	position: absolute;
	left: 118px;
	top: 66px;
}
/* Styles for majorpart layout*/
/*Cuz IE has some problems with using multiple class selector, I have to use id selector to specify the split layout*/
#sidebar {
	width: 187px;
	padding: 6px 6px 0 6px;
}
#content {
	margin-left: 202px; /* To fix IE bug */;
	padding: 6px;
}
* > #content {
	margin-left: 205px;
}
/* Style for shade */
.shade {
	background-image: url('../images/blue/bg.jpg');
	background-position: left top;
	background-repeat: repeat-x;
}
/* Styles for greeting */
#greeting p {
	margin: 0;
	padding: 0;
}
#currentUser {
	position: absolute;
	left: 92px;
	top: 20px;
}
#currentUser em {
	display: block;
	font-style: normal;
	font-weight: bold;
	margin-bottom: 10px;
}
/* Styles for Footer */
#footer p {
	margin: 0;
	height: 30px;
	line-height: 30px;
	color: #414a56;
	font-size: x-small;
	text-align: left;
	text-indent: 25px;
}
/* Styles for Siderbar Navigation */
#sidebar li {
	border: solid 1px #cbcbcb;
	padding: 1px;
	margin: 5px 0;
	background-color: #e6effe;
}
#sidebar a {
	text-decoration: none;
}
#sidebar a.head {
	background-image: url(../images/blue/menugroup.jpg);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 183px;
	color: #07699a !important;
	font-weight: bold;
	height: 26px;
	line-height: 26px;
	text-indent: 25px;
}
#sidebar a.head.selected {
	color: white !important;
	text-decoration: none;
	background-image: url(../images/blue/selectedmg.jpg);
}
#sidebar li li {
	border: none;
	margin: 0;
	padding: 0;
}
#sidebar li li a {
	color: #4c4c4c;
	width: 183px;
	height: 23px;
	line-height: 23px;
	background-image: url(../images/blue/menuitem.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	text-indent: 38px;
}
#sidebar li li a.current {
	background-image: url(../images/blue/selectedmi.gif);
}
/* Styles for form */
table.form {
	border: 1px solid #C0C0C0;
	border-collapse: collapse;
}
table.form th, table.form td {
	border: 1px solid #cfdced;
	border-style: solid none;
}
table.form th {
	color: #053f97;
	background-color: #deeafb;
	padding: 0 12px;
	width: 35%;
}
table.form td {
	height: 26px;
	overflow: auto;
}
table.form tfoot td {
	text-align: center;
}
/* Styles for list */
table.list {
	border-collapse: collapse;
	width: 100%;
	background-color: white;
}
table.list th {
	padding: 0;
	border: 1px solid #71a4ce;
	height: 28px;
	line-height: 28px;
	color: #053f97;
	text-align: left;
	text-indent: 3px;
	background-image: url('../images/blue/thbg.gif');
	background-repeat: no-repeat;
	background-position: 1px 50%;
}
table.list td {
	border: 1px solid #cfdced;
	height: 28px;
	line-height: 28px;
	text-indent: 1em;
}
table.list tfoot td {
	border: none;
	text-align: right;
	height: 32px;
	line-height: 32px;
}
table.list tr.altRow {
	background: #e4e6e9;
}
table.list tbody a {
	margin: 0 0.5em;
}
/* Styles for bottomBar */
.bottomBar {
	height: 24px;
	line-height: 24px;
	text-align: right;
}
.bottomBar a {
	margin: 0 0.5em;
}
/* Styles for topBar */
.topBar {
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	border-bottom: solid 1px gray;
}
.topBar p {
	margin: 0;
	float: left;
}
.topBar label {
	margin: 0 1em;
}
/* Styles for summary */
fieldset.summary {
	padding: 4px;
}
fieldset.summary dt, fieldset.summary dd {
	height: 20px;
	line-height: 20px;
	float: left;
	margin: 0;
	padding: 0;
	width: 50%;
	border-bottom: solid 1px #CCCCCC;
}
fieldset.summary dt {
	clear: left;
}
fieldset.summary dd {
	text-align: right;
}
/* Styles for submenu and subcontent */
#subNav .left {
	width: 180px;
}
#subNav .left ul {
	margin: 0;
	padding: 0;
	list-style-position: inside;
	list-style-type: circle;
}
#subNav .left ul a {
	text-decoration: none;
}
#subNav .right {
	margin-left: 200px;
}
/* Styles for split layout */
.split .left {
	float: left;
	width: 150px;
}
.split .right {
	margin-left: 160px;
	display: inline-block;
}
* > .split .right {
	display: block;
}
/* Styles for btn */
.btn {
	background-color: #FFFFFF;
	background-image: url('../images/Blue/btnbg.gif');
	background-repeat: repeat-x;
	background-position: left 50%;
	height: 23px;
	line-height: 23px;
	border: solid 1px #c8c8c8;
	color: #222222;
	font-size: 12px;
	padding: 0 2px;
	text-align: center;
	text-indent: 0;
	margin: 0 2px;
	cursor: pointer;
}
a.btn {
	display: inline-block;
	padding: 0 8px;
	text-decoration: none;
}
a.btn:hover {
	text-decoration: none;
	color: #222222;
}
* > a.btn {
	padding: 3px 8px;
}
/* Styles for treeContainer */
fieldset.treeContainer {
	margin: 0;
	padding: 6px 3px;
}
/* Styles for split inside yui tabview*/
#majorpart .yui-content .left {
	width: 150px;
}
#majorpart .yui-content .right {
	margin-left: 156px;
}
