<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<!-- #BeginTemplate "../../../empty.dwt" -->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- #BeginEditable "doctitle" -->
<title>关键事件</title>
<!-- #EndEditable -->
<link href="../../../content/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="../../../content/libraries/jquery/accordion/css.css" />
<link href="../../../content/libraries/silverStripe/tree/tree.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="../../../content/libraries/yui/tabview/assets/skins/sam/tabview.css" />
<script type="text/javascript" src="../../../content/libraries/jquery/jquery.js"></script>
<script type="text/javascript" src="../../../content/libraries/jquery/jquery.prototype.noconflict.js"></script>
<script type="text/javascript" src="../../../content/libraries/jquery/accordion/jquery.accordion.js"></script>
<script type="text/javascript" src="../../../content/scripts/table.js"></script>
<script type="text/javascript" src="../../../content/scripts/menu.js"></script>
<script type="text/javascript" src="../../../content/libraries/silverStripe/tree/tree.js"></script>
<script type="text/javascript" src="../../../content/libraries/yui/yahoo/yahoo-min.js"></script>
<script type="text/javascript" src="../../../content/libraries/yui/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="../../../content/libraries/yui/element/element-beta-min.js"></script>
<script type="text/javascript" src="../../../content/libraries/yui/tabview/tabview-min.js"></script>
</head>

<body>

<!-- #BeginEditable "content" -->
<table class="form" width="100%">
	<tfoot>
		<tr>
			<td colspan="2"><input type="submit" value="保存" /><input type="reset" value="重置" /></td>
		</tr>
	</tfoot>
	<tr>
		<th>通用任务大类</th>
		<td><select>
		<option>#####</option>
		<option>#####</option>
		<option>#####</option>
		<option>#####</option>
		</select></td>
	</tr>
	<tr>
		<th>标题</th>
		<td><input type="text" /></td>
	</tr>
	<tr>
		<th>描述</th>
		<td><textarea></textarea></td>
	</tr>
	<tr>
		<th>录入人</th>
		<td><input type="text" /></td>
	</tr>
	<tr>
		<th>录入时间</th>
		<td><input type="text" /></td>
	</tr>
</table>
<!-- #EndEditable -->

</body>

<!-- #EndTemplate -->

</html>
