vti_encoding:SR|utf8-nl
vti_author:SR|ZHANGJING\\Administrator
vti_modifiedby:SR|ZHANGJING\\Administrator
vti_timecreated:TR|10 Sep 2007 00:20:02 -0000
vti_timelastmodified:TR|10 Sep 2007 06:54:02 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|setup/organization/index.html
vti_nexttolasttimemodified:TW|10 Sep 2007 06:53:45 -0000
vti_cacheddtm:TX|10 Sep 2007 06:53:45 -0000
vti_filesize:IR|2277
vti_cachedlinkinfo:VX|S|layout.css S|../images/sidebarBg.gif
vti_cachedsvcrellinks:VX|FSUS|content/css/layout.css FSUS|content/images/sidebarBg.gif
